{% extends 'adminDashboard.html.twig' %}

{% block body %}
<head>
    <!-- Other meta tags, CSS, etc. -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-title">{{ form.vars.data.id is null ? 'Thêm thể loại' : 'Sửa thông tin thể loại'}}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                        {{ form_start(form, {'attr': {'class': 'row g-3', 'enctype': 'multipart/form-data'}}) }}
                            <div style="float:right ; width:100%" class="col-md-6">
                                {{ form_row(form.name) }}
                            </div>
                            <div style="float:right ; width:100%" class="col-12 mt-3 d-flex justify-content-end">
                                {{ form_widget(form.save) }}
                                <a href="/customers" class="btn btn-secondary">Quay về trang chủ</a>
                            </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        var imagePreview = document.getElementById('previewImg');
        var imgInput = document.getElementById('img');

        // Check if imgInput has value
        if (imgInput.value) {
            imagePreview.src = imgInput.value;
        }
    };
    function previewImage(input) {
        var imagePreview = document.getElementById('previewImg');
        var imgInput = document.getElementById('img');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imgInput.value = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // Trigger the file input when the button is clicked
    document.getElementById('uploadBtn').addEventListener('click', function() {
        document.getElementById('uploadBtn').click();
    });
    document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordField = document.getElementById('customers_form_password');
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    });
</script>
{% endblock %}
