{% extends 'adminDashboard.html.twig' %}
{% block body %}
 {% if app.flashes('error_title') is not empty %}
        <script>
            window.onload = function() {
                alert("Tiêu đề phim đã tồn tại");
                {% do app.session.flashBag.clear('error_title') %}
            };
        </script>
    {% endif %}
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="mb-0">Thêm mới</h4>
                <span class="small">Phim</span>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'row g-3', 'style': 'padding: 20px'}}) }}
                <div class="col-md-6 mb-3">
                    <label for="inputTitle" class="form-label">Tiêu đề</label>
                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputGenre" class="form-label">Thể loại</label>
                    {{ form_row(form.genre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-12 mt-3 d-flex justify-content-end">
                    {{ form_widget(form.save) }}
                    <a href="/customers" class="btn btn-secondary">Quay về trang chủ</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
