<div class="container">
	<div class="brand-area">
		<div class="owl-carousel owl-theme brand-item">
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/beta.png') }}" alt="Beta"/>
				</a>
			</div>
			<!--/.item-->
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/bhd.png') }}" alt="BHD"/>
				</a>
			</div>
			<!--/.item-->
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/cgv.png') }}" alt="CGV"/>
				</a>
			</div>
			<!--/.item-->
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/cinestar.png') }}" alt="Cinestar"/>
				</a>
			</div>
			<!--/.item-->
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/lotte.png') }}" alt="Lotte"/>
				</a>
			</div>
			<!--/.item-->
			<div class="item">
				<a href="#">
					<img src="{{ asset('userpage/images/brand/mega.png') }}" alt="Mega"/>
				</a>
			</div>
		</div>
		<!--/.owl-carousel-->
	</div>
	<!--/.brand-area-->
</div>
<!--/.container-->

