<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--font-family-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<style>
	/* Chiều rộng */
	::-webkit-scrollbar {
		width: 4px;
		border-radius: 5px
	}

	/* Track (Phần nền) */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 5px
	}

	/* Thanh cuộn (Handle) */
	::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Thanh cuộn khi di chuột qua */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	/* The overlay effect with black background */
	.overlay {
		height: 100%;
		width: 100%;
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9); /* Black with a little bit see-through */
	}


	/* Close button */
	.overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		cursor: pointer;
		color: white;
	}

	.overlay .closebtn:hover {
		color: #ccc;
	}


	/* Style the submit button */
	.overlay button {
		float: left;
		width: 20%;
		padding: 15px;
		background: #ddd;
		font-size: 17px;
		border: none;
		cursor: pointer;
	}

	.overlay button:hover {
		background: #bbb;
	}
</style>
<!-- title of site -->
<title>CarVilla</title>

<!-- For favicon png -->
<link
rel="shortcut icon" type="image/icon" href="{{ asset('userpage/logo/favicon.png') }}"/>

<!--font-awesome.min.css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/font-awesome.min.css') }}">

<!--linear icon css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/linearicons.css') }}">

<!--flaticon.css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/flaticon.css') }}">

<!--animate.css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/animate.css') }}">

<!--owl.carousel.css-->
<link rel="stylesheet" href="{{ asset('userpage/css/owl.carousel.min.css') }}">
<link
rel="stylesheet" href="{{ asset('userpage/css/owl.theme.default.min.css') }}">

<!--bootstrap.min.css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/bootstrap.min.css') }}">

<!-- bootsnav -->
<link
rel="stylesheet" href="{{ asset('userpage/css/bootsnav.css') }}">

<!--style.css-->
<link
rel="stylesheet" href="{{ asset('userpage/css/style.css') }}">

<!--responsive.css-->
<link rel="stylesheet" href="{{ asset('userpage/css/responsive.css') }}"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<!--[if lt IE 9]>
					<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
					<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		        <![endif]--></head>
