{% extends 'adminDashboard.html.twig' %}

{% block body %}
<head>
    <!-- Other meta tags, CSS, etc. -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-title">{{ form.vars.data.id is null ? 'Thêm người dùng' : 'Sửa thông tin người dùng'}}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <div class="mb-3 position-relative" id="imagePreview" style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%; background-color: #f0f0f0;">
                            <img id="previewImg" src="{{ asset('images/default_avt.jpg') }}" alt="Default Avatar" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
                        </div>
                        <div class="mt-2">
                            <input type="file" id="uploadBtn" name="uploadBtn" class="form-control d-none" accept="image/*" onchange="previewImage(this)">
                            <label class="btn btn-primary" for="uploadBtn">Chọn ảnh</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        {{ form_start(form, {'attr': {'class': 'row g-3', 'enctype': 'multipart/form-data'}}) }}
                            <div class="col-md-6">
                                {{ form_row(form.username) }}
                            </div>
                
                            <div class="col-md-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.phonenumber) }}
                            </div>
                            <div style="display:none" class="col-md-6">
                                {{ form_row(form.img, {'id': 'img'}) }}
                            </div>
                            <div class="col-md-6">
                                <div style="padding-top: 20px;" class="form-check form-switch mt-3">
                                    {{ form_widget(form.status) }}
                                    {{ form_label(form.status, 'Trạng thái hoạt động', {'label_attr': {'class': 'form-check-label'}, 'id': 'statusId'}) }}
                                </div>
                            </div>
                            <div class="col-12 mt-3 d-flex justify-content-end">
                                {{ form_widget(form.save) }}
                                <a href="/customers" class="btn btn-secondary">Quay về trang chủ</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        var imagePreview = document.getElementById('previewImg');
        var imgInput = document.getElementById('img');

        // Check if imgInput has value
        if (imgInput.value) {
            imagePreview.src = imgInput.value;
        }
    };
    function previewImage(input) {
        var imagePreview = document.getElementById('previewImg');
        var imgInput = document.getElementById('img');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imgInput.value = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }else{
            imagePreview.src = "{{ asset('frontend/img/account/blank.jpg') }}";
        }
    }

    // Trigger the file input when the button is clicked
    document.getElementById('uploadBtn').addEventListener('click', function() {
        document.getElementById('uploadBtn').click();
    });
    document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordField = document.getElementById('customers_form_password');
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    });
</script>
{% endblock %}
