{% extends 'adminDashboard.html.twig' %}

{% block body %}


<!-- thuong hieu -->
<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
      <use xlink:href="{{asset('backend/assets/brand/coreui.svg#full')}}"></use>
    </svg>
    <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
      <use xlink:href="{{asset('backend/assets/brand/coreui.svg#signet')}}"></use>
    </svg>
  </div>
  

  <!-- Thanh menu bên trái -->
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-item"><a class="nav-link" href="admin/viewdashboard">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-speedometer')}}"></use>
        </svg> Dashboard</a></li>
    
    <li class="nav-title">Components</li>

    <!-- Quản lý sản phẩm -->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="admin/movies">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-book')}}"></use>
        </svg> Quản lý sản phẩm</a>
      <ul class="nav-group-items">
        {% if app.user %}
          <li class="nav-item"><a class="nav-link" href="admin/movies"><span class="nav-icon"></span>Danh sách sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link" href="admin/create-movie"><span class="nav-icon"></span>Thêm sản phẩm</a></li>
        {% endif %}
      
        
      </ul>
    </li>

    <!-- Quản lý thể loại-->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="admin/genres">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-tags')}}"></use>
        </svg>Quản lý thể loại</a>
      <ul class="nav-group-items">
        {% if app.user %}
        <li class="nav-item"><a class="nav-link" href="admin/genres"><span class="nav-icon"></span>Danh sách thể loại</a></li>
        <li class="nav-item"><a class="nav-link" href="admin/create-genres"><span class="nav-icon"></span>Thêm thể loại</a></li>
        {% endif %}
      
        
      </ul>
    </li>

    <!-- Quản lý bình luận -->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="admin/reviews">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-cursor')}}"></use>
        </svg>Quản lý bình luận</a>
      <ul class="nav-group-items">
        {% if app.user %}
        <li class="nav-item"><a class="nav-link" href="admin/reviews"><span class="nav-icon"></span>Danh sách bình luận</a></li>
        <li class="nav-item"><a class="nav-link" href="admin/create-review"><span class="nav-icon"></span>Thêm bình luận</a></li>
        {% endif %}
       
        
      </ul>
    </li>

    
        <!--Quản lý khách hàng -->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="admin/customers">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-user')}}"></use>
        </svg>Quản lý khách hàng</a>
      <ul class="nav-group-items">
        {% if app.user %}
        <li class="nav-item"><a class="nav-link" href="admin/customers"><span class="nav-icon"></span>Danh sách khách hàng</a></li>
        <li class="nav-item"><a class="nav-link" href="admin/create-customer"><span class="nav-icon"></span>thêm khách hàng</a></li>
        {% endif %}
        
       
        
      </ul>
    </li>

 

    <!-- Quản lý đơn hàng -->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="admin/addlist">
        <svg class="nav-icon">
          <use xlink:href="{{asset('backend/vendors/@coreui/icons/svg/free.svg#cil-cart')}}"></use>
        </svg>Quản lý admin</a>
      <ul class="nav-group-items"> 
        <li class="nav-item"><a class="nav-link" href="admin/addlist"><span class="nav-icon"></span>Danh sách</a></li>     
      </ul>
    </li>


</div>





    <div class="header-divider"></div>
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0 ms-2">
       
        </ol>
      </nav>
    </div>
    </header>


  <!-- Body content -->

{% endblock %}
